body{
  font-size: 16px;
  letter-spacing:0.06em;
  font-family:sans-serif;
  list-style: none;
}

a{
  text-decoration: none;
  
}


a:hover{
  opacity: 0.5;
}

.header{
  text-align: center;
  /* background-image: url(../img/Desktop\ -\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 140vh; */
}

.header-list{
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  padding: 1% 0;
  position: relative;
}

.header-list__title1{
  display: flex;
  width: 30%;
  padding-left: 5%;
}

.header-list__txt__nav{
  display: flex;
  justify-content: space-around;
}

.header-list__txt{
  width: 40%;
  margin-left: 50%;
}

.header-list__txt__nav{
  font-weight: bold;
}

.header-list__txt__nav__item{
  list-style: none;
  font-size: 1rem;
}

.header-img{
  width: 100%;
  position: relative;
}

.header-img img{
  width: 100%;
  height: 92vh;
  object-fit: cover;
  vertical-align: bottom;
}

.header-list__title{
  font-size: 3rem;
}

.header-main{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2.5px;
}

.color1{
  color: #4285f4;
}
.color2{
  color: #ea4335;
}
.color3{
  color: #fbbc05;
}
.color4{
  color: #4285f4;
}
.color5{
  color: #34a853;
}

.color6{
  color: #ea4335;
}

.header-main h2{
  font-size: 4rem;
}

.header-main p{
  padding-top: 1.5%;
  font-size: 1.2rem;
}

.btn{
  font-size: 1rem;
  width: 30%;
  margin: 0 auto;
}

.btn a{
  background-color: #1967D2;
  padding: 3.5% 9%;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
}

.concept section {
  padding: unset;
}

.concept-wrapper{
  background-image: url(../img/Desktop\ -\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4%;
  height: auto;
  display: flex;
}

.concept-wrapper__non{
  width: 50%;
}

.concept-wrapper__ttl{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.concept-wrapper__ttl h2{
  padding: 15% 0 5%;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  font-family: Mochiy Pop P One;
  font-style: italic;
}

.concept-wrapper__txt{
  text-align: center;
  width: 70%;
  
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 10% auto;
}

.concept-wrapper__txt p{
  text-align: left;
  padding: 5% 0;
}

.about-wrapper{
  position: relative;
}

.about-wrapper__img{
  background-image: url(../img/Desktop\ -\ 9.png);
  background-size: cover;
  height: 70vh;
  width: 100%;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;

}

.about-wrapper__txt{
  font-size: 3rem;
  background-color: #ffffff;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px 25px;
}


.about-img1{
  position: absolute;
  top: 0;
  left: 0;
}

.about-img2{
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-img1 img{
  width: 35vw;
  height: 60%;

}

.about-img2 img{
  width: 35vw;
  height: 60%;
  /* margin-left: 40%; */
  vertical-align: bottom;

}

.point.section{
  padding: 2% 0;
}

.point-wrapper{
  position: relative;
}

.point-wrapper__nav{
  width: 90%;
  margin: 0 auto;
}

.point-wrapper__nav__list{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin:0 auto 100px;
}

.point-wrapper__nav__list__item{
  width: 40%;
  z-index: 2;
}

.point-wrapper__nav__list__img__1{
  width: 50%;
  z-index: 2;
}

.point-wrapper__nav__list__img__1 img{
  width: 100%;
}

.point-wrapper__nav__list__img__2{
  width: 50%;
  z-index: 2;
}

.point-wrapper__nav__list__img__2 img{
  width: 100%;
}

.point-wrapper__nav__list__img__3{
  width: 50%;
  z-index: 2;
}

.point-wrapper__nav__list__img__3 img{
  width: 100%;
}

.point-wrapper__nav__list__img__4{
  width: 50%;
  z-index: 2;
}

.point-wrapper__nav__list__img__4 img{
  width: 100%;
}

.ttl__1{
  font-size: 1rem;
  padding-bottom: 4%;
}

.ttl__2{
  width: 90%;
  font-size: 2rem;
  line-height: 1.2;
 
}

.ttl__2 strong{
  color: #ffffff;
}

.ttl__2 p{
  font-size: 1rem;
  padding: 50px 0;
}

.ttl__3{
  font-size: 1rem;
  padding-top: 38px;
}

.ttl__3 a{
  color: #1967D2;

}

.__rev1{
  flex-flow: row-reverse;
}

/* .__rev2{
  display: flex;
  justify-content: flex-end; */


.__rev3{
  flex-flow: row-reverse;
}


.style1{
  background-color:#4285f4;
  position: absolute;
  height: 12vh;
  width: 100%;
  top: 1.5%;
}
.style2{
  background-color:#ea4335;
  position: absolute;
  height: 6vh;
  width: 100%;
  top: 27%;
}
.style3{
  background-color:#fbbc05;
  position: absolute;
  height: 11vh;
  width: 100%;
  top: 54.2%;
}
.style4{
  background-color:#34a853;
  position: absolute;
  height: 12vh;
  width: 100%;
  top: 82%;
}


.work{
  text-align: center;
}

.work-wrapper{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10%;
  position: relative;
}

.work-wrapper small{
  font-size: 1rem;
}

.work-wrapper h1{
  font-size: 2rem;
  margin: 30px 0 4%;
}

.work-wrapper__list{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.work-wrapper__list__box{
  width: 15%;
  border: solid 2px #333;
  padding: 80px  38px 45px;
  position: relative;
  box-shadow: 0 10px 25px 0 #777;
  background-color: #ffffff;
  z-index: 2;
}


.icon{
  position: absolute;
  top:3%;
  left: 13%;
}

.icon img{
  width: 60px;
  height: 60px;
}

.work-wrapper__list__item {
  width: 100%;
  margin: 0 auto;
}

.work-wrapper__list__item h2{
  text-align: left;
  padding: 10% 0 40px;
  font-size: 1rem;
}

.work-wrapper__list__item p{
  text-align: left;
  padding-bottom: 66px;
  font-size: 1rem;
}

.circle1{
  position: absolute;
  width: 250px;
  height:250px;
  background-color: #4285f4;
  border-radius: 50%;
  top: 15%;
  left: 15%;
}
.circle2{
  position: absolute;
  width: 200px;
  height:400px;
  background-color: #fbbc05;
  border-radius: 0 250px 250px 0;
  top: 3%;
  right: 7%;

}
.circle3{
  position: absolute;
  width: 250px;
  height:250px;
  background-color: #ea4335;
  bottom: 5%;
  right: 6%;
  border-radius: 50%;
}
.circle4{
  position: absolute;
  width: 500px;
  height:250px;
  background-color: #34a853;
  border-radius: 680px 680px 0 0;
  bottom: 0;
  left: 3%;
}

.work-wrapper__list__item a{
  display: block;
  text-align: left;
  margin: 3% 0 3%;
}

.images-wrapper{
  background-image: url(../img/Desktop\ -\ 5.png);
  max-width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}



.images-wrapper h2{
  font-size: 2.5rem;
  color:#ffffff;
  line-height: 1.2;
  font-weight: bold;
}

.btn2{
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
  display:inline-block;
  margin: 5% 0;
}

.btn2 a{
  background-color: #ffffff;
  padding: 3.5% 9%;
  border-radius: 30px;
  color: #1967d2;
  text-decoration: none;
}
.images-txt{
  width: 80%;
  position: absolute;
  top: 30%;
  left: 10%;
}

.images.section{
  padding:unset;
  /* padding-top: 2%; */
}

.images-txt__btn{
  display: flex;
  padding-top: 5%;
}

.images-txt__btn img{
  width: 20%;
  padding-right:30px ;
}

.footer-wrapper{
  background: #f2f3f5;
}

.footer-wrapper__list{
  display: flex;
  text-align: center;
  padding: 3% 0 2%;
  padding-left: 4%;
}



.footer-wrapper__list__txt{
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 2%;
}

.footer-icon{
  width: 10%;
  display: flex;
justify-content: space-around;
}

.line{
  width: 100%;
  border-bottom: solid 1px #777;
}

.footer-wrapper__ttl{
  padding: 3% 0;
  margin-left: 4%;
}

.footer-wrapper__ttl ul{
  list-style: none;
}

.footer-wrapper__ttl__list__item{
  padding: 2% 0;
}

.footer-wrapper__end{
  padding: 2% 0;
  display: flex;
}

.footer-wrapper__end1{
  margin-left: 4%;
  display: flex;
  align-items: center;
}


.footer-wrapper__end2{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-wrapper__end2 p{
  padding-left: 3%;
}

@media screen and (max-width: 1024px) {
  .images-wrapper{
    height: 650px;
  }

  .point-wrapper__nav__list__item {
    width: 60%;
}

.header-list__txt {
  width: 70%;
  margin-left: 30%;
}

.ttl__2 {
  width: 80%;
}

  .style1{
    top:1.5%;
  }
  .style2{
    top: 30%;

  }
  .style3{
    height: 6vh;
    top: 57%;

  }
  .style4{
    height: 6.5vh;
    top: 81.5%;

  }

  .about-wrapper__txt {
    font-size: 2.2rem;
  }

  .circle1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #4285f4;
    border-radius: 50%;
    top: 15%;
    left: 15%;
}

.circle2 {
  position: absolute;
  width: 140px;
  height: 280px;
  background-color: #fbbc05;
  border-radius: 0 250px 250px 0;
  top: 3%;
  right: 0%;
}

.circle4 {
  position: absolute;
  width: 500px;
  height: 250px;
  background-color: #34a853;
  border-radius: 680px 680px 0 0;
  bottom: 0;
  left: 3%;
}

.work-wrapper__list__box {
  width: 14%;
  border: solid 2px #333;
  padding: 5% 20px 4%;
  position: relative;
  box-shadow: 0 10px 25px 0 #777;
  background-color: #ffffff;
  z-index: 2;
}

.work-wrapper__list__item {
  width: 90%;
  margin: 0 auto;
}

.work-wrapper__list__item h2 {
  text-align: left;
  padding: 30px 0 20%;
  font-size: 1.2vw;
}

}

@media screen and (max-width: 768px) {

.header-main h2 {
  font-size: 4vw;
}
.header-main p {
  padding-top: 1.5%;
  font-size: 1.8vw;
}

.header-list__txt__nav__item {
  list-style: none;
  font-size: 1.2vw;
}

.concept-wrapper {
  height: 700px;
}

.concept-wrapper__ttl h2 {
  font-size: 4vw;
  padding: 30% 0 20%;
}

.concept-wrapper__txt {
  font-size: 1.8vw;
}

.ttl__2 {
  width: 70%;
  font-size: 2.5vw;
  line-height: 1.2;
}
/* .btn {
  width: 50%;
} */

.work-wrapper{
  width: 90%;

}

.icon img{
  width: 50px;
  height: 50px;
}

.images-wrapper h2{
  font-size: 2rem;
}

.footer-icon img{
  padding-right: 7%;
}

.style1 {
  height: 6vh;
}

.style2{
  top: 28%;
}
.style3{
  top: 55.5%;
}
.style4{
  top: 81%;
}

.circle2 {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: #fbbc05;
  border-radius: 0 250px 250px 0;
  top: 14%;
  right: 0%;
}

.circle3 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #ea4335;
  bottom: 10%;
  right: 6%;
  border-radius: 50%;
}

.circle4 {
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: #34a853;
  border-radius: 680px 680px 0 0;
  bottom: 0;
  left: 3%;
}



.point-wrapper__nav__list {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 80px;
}

}

@media screen and (max-width: 480px) {

  .header-img img {
    width: 375px;
    height: auto;
}
.header h1{
    font-size: 3vw;
    margin-top: 20px;
    margin-bottom: 24px;
  }


.concept-wrapper {
    height: auto;
  }

.concept-wrapper__txt{
  font-size: 1.2vw;
  padding-bottom:10% ;
}

.about-wrapper__img{
  width: 100%;
  height: 35vh;
}
.btn{
  width: 80%;
}
.about-wrapper__txt{
padding: 10px 25px;
}

.about-wrapper__txt h2{
  font-size: 4vw;
}

.style1{
  z-index: -1;
  top: 1.4%;
}
.style2{
  z-index: -1;
  top:25% ;
  height: 3vh;
}
.style3{
  z-index: -1;
  top: 52%;
}
.style4{
  z-index: -1;
  top:79.1%;
}


.btn a{
  font-size: 1vw;
    padding: 1.5% 4%;
}

.point-wrapper__nav__list {
  display: block;
}

.point-wrapper__nav__list__item {
  width: 100%;
}

.ttl__1 {
  font-size: 1vw;
  padding-bottom: 4%;
}

.ttl__2 {
  font-size: 5vw;
  line-height: 1.2;
}

.ttl__2 strong{
  font-size: 4vw;
}

.ttl__2 p {
  font-size: 1vw;
  padding: 4% 0;
}

.ttl__3 {
  font-size: 1vw;
  padding-top: 5%;
}

.point-wrapper__nav__list__img__1 {
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
}
.point-wrapper__nav__list__img__2 {
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
}
.point-wrapper__nav__list__img__3 {
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
}
.point-wrapper__nav__list__img__4 {
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
}

.work-wrapper small {
  font-size: 1vw;
}

.work-wrapper h1 {
  font-size: 5vw;
  margin: 4% 0;
}

.work-wrapper__list {
  display: block;
  justify-content: space-around;
  margin-top: 10%;
}

.work-wrapper__list__box {
  width: 50%;
  border: solid 2px #333;
  padding: 8% 20px 4%;
  position: relative;
  box-shadow: 0 10px 25px 0 #777;
  margin: 0 auto 10%;
}

.icon img {
  width: 30px;
  height: 30px;
}

.work-wrapper__list__item h2 {
  text-align: left;
  padding: 10% 0 15%;
  font-size: 1vw;
}

.work-wrapper__list__item p {
  text-align: left;
  padding-bottom: 15%;
  font-size: 1vw;
}

.work-wrapper__list__item a {
  display: block;
  text-align: left;
  margin: 3% 0 3%;
  font-size: 1vw;
}

.images-wrapper {
  height: 300px;
}

.images-txt {
  width: 80%;
  position: absolute;
  top: 30%;
  left: 10%;
}

.images-wrapper h2 {
  font-size: 4vw;
}

.circle1{
  left: 5%;
  width: 100px;
  height: 100px;
}
.circle2{
  width: 100px;
  height: 200px;
  top: 20%;
}
.circle3{
  bottom: 25%;
  right: 8%;
}

.work-wrapper{
  padding-bottom: 5%;
}


.btn2 {
  font-size: 1vw;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  margin: 8% 0;
}

.footer-wrapper__list__txt {
  display: flex;
  align-items: center;
  font-size: 1vw;
  margin-right: 7%;
}

.footer-icon img {
  padding-right: 10%;
  width: 15px;
  height: 15px;
}
.footer-wrapper__ttl__list__item {
  padding: 2% 0;
  font-size: 1vw;
}

.footer-wrapper__end1 img{
  width: 50px;
  height: auto;
}

.footer-wrapper__end2 {
  font-size: 1vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

}